$height: 100vh;
$width: 100vw;
$primary: #ffffff;
$secondary: #f50057;
$text: #000000;

@keyframes showSlide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:host {
  height: $height;
  width: $width;
  position: absolute;
  top: 0px;
  left: 0px;
}

.nge-slides {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;

  h1 {
    font-size: 6rem;
    font-weight: lighter;
    letter-spacing: -0.09375rem;
  }

  h2 {
    font-size: 3.75rem;
    font-weight: lighter;
    letter-spacing: -0.03125rem;
  }

  h3 {
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 0rem;
  }

  h4 {
    font-size: 2.125rem;
    font-weight: normal;
    letter-spacing: 0.015625rem;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0rem;
  }

  h6 {
    font-size: 1.25rem;
    font-weight: bolder;
    letter-spacing: 0.009375rem;
  }

  &.slide {
    background-color: $primary;
    color: $text;
    background: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 16px;
    height: calc(100% - 32px);
    width: calc(100% - 32px);
    animation: showSlide 1s ease-in-out both;
  }

  &.handle {
    position: absolute;
    bottom: 0px;
    right: 16px;
    z-index: 10000000;
  }

  &.hashtag {
    position: absolute;
    bottom: 0px;
    left: 16px;
    z-index: 10000000;
  }

  &.primary {
    &:not(.text) {
      background-color: $primary !important;
    }

    &.text {
      color: $primary !important;
    }
  }

  &.secondary {
    &:not(.text) {
      background-color: $secondary !important;
    }

    &.text {
      color: $secondary !important;
    }
  }

  &.text {
    color: $text !important;
  }
}
