@import '../styles.scss';

div.nge-slides.slides-wrapper {
  background-color: $primary;
  color: $text;
  height: $height;
  width: $width;
  position: absolute;
  top: 0px;
  left: 0px;

  .handle {
    position: absolute;
    bottom: 0px;
    right: 16px;
    z-index: 10000000;
  }

  .hashtag {
    position: absolute;
    bottom: 0px;
    left: 16px;
    z-index: 10000000;
  }
}
